{% extends "spider/base_profile.html" %}


{% block title %}Spidering Profiles {% endblock %}

{% block content_title %}Spidering Profiles{% endblock %}

{% block content %}
  <ul class="object-list profile-list">
    {% for object in object_list %}
      {% with object.latest_status as latest_status %}
      <li{% if latest_status %} class="{% if latest_status.error_fetching %}error-fetching{% else %}status-{{ latest_status.response_status }}{% endif %}"{% endif %}>
        <form method="post" class="new-session" action="{% url profiles_session_create object.pk %}">{% csrf_token %}
          <button type="submit">New session</button>
        </form>
        <h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
          {% if latest_status %}
            {% if latest_status.error_fetching %}
              <span class="small results-error">error fetching</span>
            {% else %}
              <span class="small results-{{ latest_status.response_status }}">{{ latest_status.response_status }}</span>
            {% endif %}
          {% endif %}
        </h3>
        <p><a href="{{ object.url }}">{{ object.url }}</a></p>
        <p>{{ object.threads }} threads, {{ object.time_limit }} seconds, {{ object.depth }} depth</p>
        {% if object.sessions.count %}
          {% with object.sessions.all.0 as session %}
            <p class="results clearfix">
              <span>{{ session.created_date|date:"m/d/Y g:ia" }} {{ session.results.count }} results</span>
              <span class="results-200">{{ session.results_200.count }} OK</span>
              <span class="results-404">{{ session.results_404.count }} Not Found</span>
              <span class="results-500">{{ session.results_500.count }} Error</span>
            </p>
          {% endwith %}
        {% endif %}
      </li>
      {% endwith %}
    {% empty %}
      <li><p>No profiles exist</p></li>
    {% endfor %}
  </ul>
{% endblock %}
