{% extends "spider/base_profile.html" %}


{% block title %}Profile for: {{ profile.title }}{% endblock %}

{% block content_title %}{{ profile.title }}{% endblock %}

{% block content %}
  <form method="post" class="new-session" action="{% url profiles_session_create profile.pk %}">{% csrf_token %}
    <button type="submit">New session</button>
  </form>
  <p class="back-link"><a href="{% url profiles_profile_list %}">&laquo; all profiles</a>
    | <a href="{% url profiles_profile_health profile.pk %}">health</a>
  </p>
  
  <ul class="object-list session-list">
    {% for session in object_list %}
      <li>
        <h3><a class="session" href="{{ session.get_absolute_url }}">{{ session.created_date|date:"F jS, Y g:ia" }}</a></h3>
        {% include "spider/includes/session_results.html" %}
      </li>
    {% empty %}
      <li><p>No sessions have been created</p></li>
    {% endfor %}
  </ul>
{% endblock %}
