{% extends "spider/base_profile.html" %}


{% block title %}{{ session.profile.title }} {{ session.created_date|date:"m/d/Y g:ia" }}{% endblock %}

{% block extended_scripts %}
  <script src="http://flot.googlecode.com/svn/trunk/jquery.flot.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var responseList = $('ul#response-list'),
          url = '{% url profiles_session_detail session.spider_profile.pk session.pk %}',
          maxId = {{ max_id }},
          delay = 1000;
      
      function receiveUpdates() {
        $.get(url + '?max_id=' + maxId, function(data) {
          var elem = $('ul#response-list');
          maxId = data.max_id;
          $.each(data.results, function(k, urlResult) {
            elem.prepend(urlResult);
          });
          if (data.complete) {
            responseList.prepend('<li><h3>PROCESSING FINISHED</h3></li>');
          } else {
            setTimeout(function() {receiveUpdates();}, delay);
          }
        }, 'json');
      }
      
      $('a.result-details').live('click', function(e) {
        e.preventDefault();

        var elem = $(this);
        $.get(elem.attr('href'), function(data) {
          var detailContainer = elem.siblings('.detail-display');
          detailContainer.html(data.rendered);
            
          detailContainer.show();

          var resultsGraph = detailContainer.find('.response-time-graph');
          $.plot(resultsGraph, [data.response_times], {xaxis: {ticks: []}});
        }, 'json');
      });
      
      {% if not session.complete %}
        receiveUpdates();
      {% endif %}
    });
  </script>
{% endblock %}

{% block content_title %}{{ session.spider_profile.title }} {{ session.created_date|date:"m/d/Y g:ia" }}{% endblock %}

{% block content %}
  <p class="back-link"><a href="{% url profiles_profile_detail session.spider_profile.pk %}">&laquo; back to sessions</a></p>
  {% if session.complete %}
    {% include "spider/includes/session_results.html" %}
    {% with session.new_404 as new_404 %}
      {% if new_404 %}
        <h2>{{ new_404.count }} new 404</h2>
        <ul class="response-list">
        {% for object in new_404 %}
          {% include "spider/includes/result_list.html" %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% with session.new_500 as new_500 %}
      {% if new_500 %}
        <h2>{{ new_500.count }} new 500</h2>
        <ul class="response-list">
        {% for object in new_500 %}
          {% include "spider/includes/result_list.html" %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  {% endif %}
  <h2>Results</h2>
  <ul id="response-list" class="response-list">
    {% if session.complete %}
      <li><h3>PROCESSING FINISHED</h3></li>
    {% endif %}
    {% for object in object_list %}
      {% include "spider/includes/result_list.html" %}
    {% empty %}
      {% if not session.complete %}
        <li><p>Hang out, your spiders are getting ready</p></li>
      {% endif %}
    {% endfor %}
  </ul>

  {% include "spider/includes/pagination.html" %}
{% endblock %}
